extends layout

block content
  div(class='row')
    div(class='col-md-6')
      h2 Angular App
      div(class='list-group')
        a(class='list-group-item' href='/angular') Prod
        a(class='list-group-item' href='http://localhost:4200') Local

